
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.urlStyle {
  color:black;
}

.title{
  text-family: 'Luminari', sans-serif;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  border-style: double;
  border-width: 10px;
  border-radius: 10px;
  background: grey;
  background-size: contain;
  position: relative;
}

.card {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-variant: small-caps;
    border: rgb(3, 3, 3) solid 1px;
    border-radius: 5%;
    padding: 1rem;
    width: 12rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 2rem;
    background: #e8eded;
    box-shadow: 3px 4px #dff30a
  }
 
.breweryStyleFont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
  }

.formFormat{
  background: blanchedalmond;
  border: rgb(3, 3, 3) solid 1px;
  border-radius: 3px;
}