
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.urlStyle {
  color:black;
}

.title{
  font-family: 'Luminari', sans-serif;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  border-style: double;
  border-width: 10px;
  border-radius: 10px;
  background: rgb(169, 113, 57);
  background-size: contain;
  position: relative;
}

.card {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-variant: small-caps;
  border-radius: 5%;
  padding: 1rem;
  width: 12rem;
  height: 18rem;
  display: inline-grid;
  margin: 1rem 2rem;
  background: #efdeca;
  box-shadow: 10px 10px 1px 2px rgba(159,66,4, 30%)
}

.card:hover{
  transform: scale(1.05);
}
    
.breweryStyleFont{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
  }

.formFormat{
  background:rgb(169, 113, 57);
  border: rgb(3, 3, 3) double 5px;
  border-radius: 5px;
  padding: 10px;
}

.like-btn{
  border: none;
  background: none;
}

.searchBar{
  text-align: center;
  font-size: 35px;
}